@model IEnumerable<SerwisSamochodowy.Models.Zlecenie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OpisUsterki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktywne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSamochodu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mechanik.Imie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OpisUsterki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aktywne)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.IdSamochodu)*@
                @Html.DisplayFor(modelItem => item.Samochod.Model)

            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.IdMechanika)*@
                @Html.DisplayFor(modelItem => item.Mechanik.Nazwisko)

                @*@foreach (var s in item.Mechaniks)
                {
                    @s.Imie @s.Nazwisko
                }*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
